<div class="instagram-feed" id="section-{{ section.id }}" data-section-type="instafeed-section" data-section-id="{{ section.id }}">
  {% if section.settings.section_title != '' %}
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container-fluid {% endif %}">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title section-title--one  {% if section.settings.text_align == "left" %}text-left {% elsif section.settings.text_align == "right" %} text-right {% elsif section.settings.text_align == "center" %} text-center {% endif %}">
          {% if section.settings.section_title != blank %}
          <h1><a href="{{ section.settings.section_title_link }}">{{ section.settings.section_title }}</a></h1>
          {% endif %}
          {% if section.settings.section_subtitle != blank %}
          <p class="subtitle subtitle--deep subtitle--trending-home">{{ section.settings.section_subtitle }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container-fluid {% endif %}">
    <div class="row">
      <div class="col-12 ">
        <div id="instafeed" class="inta_active owl-carousel"></div>
      </div>
    </div>
  </div>
</div>


<script>
  (function ($) {
    "use strict";
    jQuery(document).ready(function(){
      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="col"><div class="instagram-item"><a href="\{\{link\}\}" target="_blank" id="\{\{id\}\}"><img src="\{\{image\}\}" /></a><div class="instagram-hvr-content"><span class="tottallikes"><i class="fa fa-heart"></i> \{\{likes\}\} </span><span class="totalcomments"><i class="fa fa-comments"></i>  \{\{comments\}\}</span></div></div></div>'
      });
      userFeed.run();
    });
    
  })(jQuery); 
  
  
  jQuery(window).on('load', function () {
    $('.inta_active').owlCarousel({
        loop: true,
        nav: true,
        dots: false,
        {% if settings.rtl_enable %}                
        rtl: true,
        {% endif %}
        smartSpeed: 1500,
        navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
        margin: 20,
        responsive: {
            0: {
                items: 1,
                autoplay: true,
                smartSpeed: 500
            },
            480: {
                items: 2
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            }
        }
    })
  });

  
  
  
  
  
  
  
  
</script>

<script src="{{ 'instafeed.min.js' | asset_url }}"></script>