<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {% include 'social-meta-tags' %}

  <!-- CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {%- include 'header-css' -%}
  
  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  <!-- JS -->
  {%- include 'header-js' -%}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'alireviews_core' %} 

{% include 'booster-common' %}
 
{% include 'pagefly-header' %}
 </head> 

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}" >

  {%- if settings.enable_preloader -%}
  {% include 'preloader' %} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {% include 'newsletter-popup' %}
  {%- endif -%}

  <div class="wrapper{% if settings.box_layout_enable %} wrapper-box{% endif %}">
    
	{%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {% include 'top-notification-bar' %}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {% include 'top-notification-bar' %}
    {%- endif -%}
    {%- endif -%}
    
    {% if settings.header_style == "one" %}
    {% section 'header-1' %}
    {% elsif settings.header_style == "two" %}
    {% section 'header-2' %}
    {% elsif settings.header_style == "three" %}
    {% section 'header-3' %}    
    {% elsif settings.header_style == "four" %}
    {% section 'header-4' %} 
    
    {% endif %}
    

    {%- if template != 'index' -%}
    {% include 'breadcrumb-banner' %}
    {%- endif -%}

    <main {% if settings.box_layout_enable %}class="home-style-box-layout"{% endif %}>
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    {% section 'footer-copyright' %}
    <!-- Necessary JS -->
    {% include 'footer-js' %}
    {% include 'compare-popup' %}
    <!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
  </div>
  


{% include 'booster-message' %}

{% include 'gtranslate', float: 'yes' %}
 
  <div class="index-section--flush powr-popup" id="246266c8_1626160618"></div>
  <div class="index-section--flush powr-popup" id="shopify-section-popup-1626164671452ed1bc"></div>
  <div class="index-section--flush powr-popup" id="9fb4b622_1626165890"></div>
 </body>    
</html>
