<div class="article-area article_page">
  <div class="container">
    <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}flex-row-reverse{% endif %}">
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-12{% else %}col-lg-9{% endif %}">
        <div class="aticle-inner">
          <div class="article">
            <img src="{{ article | img_url: 'master' }}" alt="{{ article.image.alt }}">
            <div class="article-conntent">
              <h3>{{ article.title }}</h3>
              {{ article.content }}
              

              {% if section.settings.article_tag_enable or section.settings.article_social_share %}

              <div class="row mt-30 align-items-center">
                {% if article.tags.size > 0 %}
                {% if section.settings.article_tag_enable  %}
                <div class="col-md-6 text-center text-md-left mb-sm-15">
                  <div class="post-tags">
                    <ul class="tag-list">
                      {% include 'tags-article' %}
                    </ul>
                  </div>
                </div>
                {% endif %}
                {% endif %}
                {% if section.settings.article_social_share %}
                <div class="col-md-6 {% if section.settings.article_tag_enable %} text-center text-md-right {% else %} text-left {% endif %}">
                  <div class="post-share  {% if article.tags.size > 0 %} notag_share {% endif %}">
                    {% include 'blog-share' %}
                  </div>
                </div>
                {% endif %}
              </div>

              {% endif %}

              
              {% if blog.next_article or blog.previous_article %}
              <div class="article-next-previous">
                <hr>
                <p class="clearfix">
                  {% if blog.previous_article %}
                  <span class="left">
                    &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
                  </span>
                  {% endif %}
                  {% if blog.next_article %}
                  <span class="right">
                    {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
                  </span>
                  {% endif %}
                </p>
              </div>
              {% endif %} 
            </div>
          </div>

          {%- if article.comments_enabled? -%}
          {%- assign comment_post_limit = section.settings.comment_post_limit_handle -%}
          {%- paginate article.comments by comment_post_limit -%}
          <div id="comments" class="comment-success">
            {%- if comment and comment.created_at -%}
            <p class="note form-success">
              {%- if blog.comments_modareted? -%}
              {{ 'blogs.comments.success_moderated' | t }}            
              {%- else -%}
              {{ 'blogs.comments.success' | t }}
              {%- endif -%}
            </p>
            {%- endif -%}
            
            {%- if article.comments.size > 0 -%}
            {%- include 'blog-comments' -%}
            {%- endif -%}
            {%- if paginate.pages > 1 -%}
            <div class="comment-pagination">
              {% include 'pagination' %}
            </div>
            {%- endif -%}
            {%- endpaginate -%}
            {%- include 'blog-comment-form' -%}
          </div>
          {%- endif -%}
        </div>
      </div>

      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3">
        {% include 'blog-sidebar' %}
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Article Page",
    "settings": [
		{
			"type": "header",
			"content": "Comment Box"
		},
		{
			"type": "image_picker",
			"id": "commentator_image",
			"label": "Comment Thumb Image",
			"info": "Recommended Size: 100 x 100px"
		},
		{
			"type": "text",
			"id": "comment_post_limit_handle",
			"label": "How Many Comment Post Show",
			"default": "5"
		},
		{
			"type": "header",
			"content": "Article Sidebar"
		},
		{
			"type": "radio",
			"id": "sidebar_handle",
			"label": "Sidebar Position",
			"options": [
				{
					"label": "Left Sidebar",
					"value": "left_sidebar_handle"
				},
				{
					"label": "Right Sidebar",
					"value": "right_sidebar_handle"
				},
				{
					"label": "Without Sidebar",
					"value": "without_sidebar"
				}
			],
			"default": "left_sidebar_handle"
		},
		{
          "type": "header",
          "content": "Post Bottom Action"
        },
		{
          "type": "checkbox",
          "id": "article_tag_enable",
          "label": "Post Tag Enable",
          "default": true
        },
		{
          "type": "checkbox",
          "id": "article_social_share",
          "label": "Post Social Share Enable",
          "default": true
        },
		{
          "type": "text",
          "id": "social_share_title",
          "label": "Share Post Title",
          "default": "Share this post:"
        }
	],
	"blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "wedget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "menu_title",
              "label": "Menu Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu"
            }
          ]
       },
	   {
          "type": "recent_post",
          "name": "Recent Post",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "recent_post_title",
              "label": "Recent Post Title",
              "default": "Recent Post"
			},
            {
              "type": "range",
              "id": "recent_post_limit_handle",
              "min": 2,
              "max": 10,
              "step": 1,
              "label": "Post Limit",
              "default": 3
            }
          ]
       },
	   {
          "type": "archive",
          "name": "Archive",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "archive_title",
              "label": "Archive Title",
              "default": "Archive"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "blog_tags_title",
              "label": "Tags Title",
              "default": "Tags"
			},
            {
              "type": "range",
              "id": "blog_tags_list_limit_handle",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Tag Limit",
              "default": 10
            }
          ]
       }
	]
  }
{% endschema %}