<!--Our Product Area Start-->
<div class="product_deals_container" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container-fluid {% endif %}">
    <!-- Section Title Start -->
    {%- if section.settings.section_title_enable -%}
    <div class="section_title {% if section.settings.text_align == "left" %}text-left {% elsif section.settings.text_align == "right" %} text-right {% elsif section.settings.text_align == "center" %} text-center {% endif %}">
      {% if section.settings.section_title != blank %}
      <h2>{{ section.settings.section_title }}</h2>
      {% endif %}
      {% if section.settings.section_title_paragraph != blank %}
      <p class="subtitle">{{ section.settings.section_title_paragraph }}</p>
      {% endif %}
    </div>
    {%- endif -%}
    <div class="our-pro-active owl-carousel">
      {% assign featured_product = collections[section.settings.featured_product_handle] %}
      {% assign featured_product_limit = section.settings.featured_product_limit_handle %}
      {%- assign product_num = section.settings.featured_product_column -%}
      {%- if featured_product == empty -%}
      {% assign a = 1 %}
      {% for i in (1..6) %}
      {% capture a %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
      {% assign product_item = "product-" | append: a  %}
      {% assign a = a | plus: 1 %}
      {%- if product_num == 1 -%}
      {% render  'product-grid-item-blank' %}
      {%- else -%}
      {%- assign modulo = forloop.index | modulo: product_num -%}
      {%- if modulo == 1 -%}
      <div class="dual-pro">
        {%- endif -%}
        {% render  'product-grid-item-blank' %}
        {%- if modulo == 0 or forloop.last -%}
      </div>
      {%- endif -%}
      {%- endif -%} 
      {% if a == 5 %}
      {% assign a = 1 %}
      {% endif %}
      {% endfor %}
      {%- else -%}
      {% for product in featured_product.products limit: featured_product_limit %}
      {%- if product_num == 1 -%}
      {% include  'product-grid-item-daily' %}
      {%- else -%}
      {%- assign modulo = forloop.index | modulo: product_num -%}
      {%- if modulo == 1 -%}
      <div class="dual-pro">
        {%- endif -%}
        {% include   'product-grid-item-daily' %}
        {%- if modulo == 0 or forloop.last -%}
      </div>
      {%- endif -%}
      {%- endif -%} 
      {% endfor %}
      {%- endif -%} 
    </div>
  </div>
</div>
<!--Our Product Area End-->

{% include 'section_typography' %}
<style>
  {% if  section.settings.slider_arrow_enable %}
  .our-pro-active .owl-nav {
    display: none;
  }
  {% endif %}
  .our-pro-active  .owl-nav div {
    background: {{ section.settings.rev_arrow_bg_color  }};
    color: {{ section.settings.rev_arrow_text_color  }};
  }
  .our-pro-active  .owl-nav div:hover {
    background: {{ section.settings.rev_arrow_bg_color_on_hover  }};
    color: {{ section.settings.rev_arrow_text_color_on_hover  }};
  }
  #section-{{ section.id }} .section_title h2 {
  	color: {{ section.settings.section_title_color }};
  }
  #section-{{ section.id }} .section_title p {
  	color: {{ section.settings.section_desc_color }};
  }
  #section-{{ section.id }} .section_title::before{
    background: {{ section.settings.section_border_color }};
  }
  
  #section-{{ section.id }}  .section_title {
    padding-bottom:{{ section.settings.section_title_margin_bottom }}px;
  }
  #section-{{ section.id }}  .section_title {
    margin-bottom: {{ section.settings.section_title_padding_bottom }}px;
  }
  
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'product_content_color' -%}
  #section-{{ section.id }} .pro-tabs-area li a:hover,  #section-{{ section.id }}  .pro-tabs-area li a.active,   #section-{{ section.id }}  .nav.tabs-area.pro-tabs-area.tabstyle_2 li a.active      {
    border-color: {{ block.settings.tab_text_active_color }};
    color: {{ block.settings.tab_border_active_color }};
  }
  #section-{{ section.id }} .pro-tabs-area li a{
    border-color: {{ block.settings.tab_text_color }};
    color: {{ block.settings.tab_border_color }};
  }
  #section-{{ section.id }} .product_content h4 {
    color: {{ block.settings.product_title_color }}
  }
  #section-{{ section.id }} .add-to-cart button, #section-{{ section.id }}  .small-btn a::before, #section-{{ section.id }}  .add-to-cart::before  {
    color: {{ block.settings.cart_action_button_color }};
  }
  #section-{{ section.id }} .action_links ul li a  {
    color: {{ block.settings.action_button_color }};
  }
  
  #section-{{ section.id }} .action_links ul li a:hover ,#section-{{ section.id }}  .add-to-cart:hover  {
    color: {{ block.settings.action_button_color_hover }}!important;
  }
  
  #section-{{ section.id }} .price_box span.current_price {
    color: {{ block.settings.product_currenct_price_color }};
  }
  #section-{{ section.id }} .price_box span.old_price {
    color: {{ block.settings.product_old_price_color }};
  }
  #section-{{ section.id }} .product_content .product_rating span i {
    color: {{ block.settings.product_rating_color }};
  }
  
  {% endcase %}
  {% endfor %}
</style>


<script>

    $('#section-{{ section.id }} .our-pro-active').owlCarousel({
        loop: true,
        nav: true,
        dots: false,
        {% if settings.rtl_enable %}                
        rtl: true,
        {% endif %}
        smartSpeed: 1500,
        navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
        margin: 20,
        responsive: {
            0: {
                items: 1,
                autoplay: true,
                smartSpeed: 500
            },
            480: {
                items: 2
            },
            768: {
                items: 2
            },
            992: {
                items: 4
            },
            1200: {
      			items: {{section.settings.product_column}}
            }
        }
    })
    
</script>


{% schema %}
  {
    "name": "Today Deals Section",
    "settings": [
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "container"
        },
		{
          "type": "header",
          "content": "Section Title"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",
		  "default": true
        }, 
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title Label",
		  "default": "Section Title"
        },
		{
          "type": "textarea",
          "id": "section_title_paragraph",
          "label": "Section Title Description"
        },
		{
          "type":  "radio",
          "id":    "text_align",
          "label": "Section Title Align", 
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
			 { "value": "center", "label": "Center" }
          ],
          "default":   "center"
        },
        {
          "type": "paragraph",
          "content": "Section Title Style"
        },
        {
          "type": "color",
          "id": "section_title_color",
          "label": "Section Title Color",
          "default": "#222"
        },
        {
          "type": "color",
          "id": "section_desc_color",
          "label": "Section Description Color",
          "default": "#222"
        },
        {
          "type": "color",
          "id": "section_border_color",
          "label": "Section Border Color",
          "default": "#222"
        },
        {
          "type": "paragraph",
          "content": "Section Title Margin And Padding Bottom"
        },
        {
          "type": "range",
          "id": "section_title_padding_bottom",
          "min": 0,
          "max": 250,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 30
        },
        {
          "type": "range",
          "id": "section_title_margin_bottom",
          "min": 0,
          "max": 250,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 20
      },
      {
        "type": "header",
        "content": "Carousel Settings"
      },
      {
        "type": "paragraph",
        "content": "Product Slider Arrow Style"
      },
      {
        "type": "checkbox",
        "id": "slider_arrow_enable",
        "default": false,
        "label": "Slider Arrow Disable"
      },
      {
        "type": "color",
        "id": "rev_arrow_bg_color",
        "label": "Arrow Bg Color",
        "default": "rgba(0,0,0,0)"	
      },
      {
        "type": "color",
        "id": "rev_arrow_text_color",
        "label": "Arrow Text Color",
        "default": "#222"	
      },
      {
        "type": "color",
        "id": "rev_arrow_bg_color_on_hover",
        "label": "Arrow Bg Color On Hover",
        "default": "rgba(0,0,0,0)"	
      },
      {
        "type": "color",
        "id": "rev_arrow_text_color_on_hover",
        "label": "Arrow Text Color Hover",
        "default": "#79a206"	
      },
		{
		  "type": "header",
          "content": "Featured Product"
        },
		{
			"type": "collection",
			"id": "featured_product_handle",
			"label": "select collection"
		},
		{
          "type": "select",
          "id": "featured_product_limit_handle",
          "label": "Produc Limit",
		  "options":[
				{
					"label": "4 Products",
					"value": "4"
				},
				{
					"label": "6 Products",
					"value": "6"
				},
				{
					"label": "8 Products",
					"value": "8"
				},
				{
					"label": "10 Products",
					"value": "10"
				},
				{
					"label": "12 Products",
					"value": "12"
				},
				{
					"label": "14 Products",
					"value": "14"
				},
				{
					"label": "16 Products",
					"value": "16"
				},
				{
					"label": "18 Products",
					"value": "18"
				},
				{
					"label": "20 Products",
					"value": "20"
				},
				{
					"label": "21 Products",
					"value": "21"
				},
				{
					"label": "22 Products",
					"value": "22"
				},
				{
					"label": "24 Products",
					"value": "24"
				},
				{
					"label": "25 Products",
					"value": "25"
				}
			],
			"default": "12"
      	},
        {
          "type": "range",
          "id": "featured_product_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Product Row",
          "unit": "Row",
          "default": 2
        },
		{
		  "type": "header",
          "content": "Product column"
        },
        {
          "type": "range",
          "id": "product_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Product column",
          "unit": "Col",
          "default": 4
        }
  ],
  "blocks": [
	   {
          "type": "product_content_color",
          "name": "Today Deals Color",
		  "limit": 1,
          "settings": [
			{
			  "type": "header",
			  "content": "Carousel product Style"
			},
			{
			  "type": "header",
			  "content": "Product Title"
			},
			{
			  "type": "color",
			  "id": "product_title_color",
			  "label": "Product Title Color",
			  "default": "#323232"
			},
			{
			  "type": "header",
			  "content": "Action Button"
			},
			 {
			  "type": "color",
			  "id": "action_button_color",
			  "label": "Action Button Color",
			  "default": "#222"
			},
			{
			  "type": "color",
			  "id": "action_button_color_hover",
			  "label": "Action Button Color On Hover",
			  "default": "#79a206"
			},
		    {
			  "type": "header",
			  "content": "Product Rating"
			},
			{
			  "type": "color",
			  "id": "product_rating_color",
			  "label": "Product Rating Color",
			  "default": "#FF9800"
			},
		    {
			  "type": "header",
			  "content": "Product Price"
			},
			{
			  "type": "color",
			  "id": "product_currenct_price_color",
			  "label": "Current Pirce Color",
			  "default": "#79a206"
			},
		    {
			  "type": "color",
			  "id": "product_old_price_color",
			  "label": "Old Pirce Color",
			  "default": "#222222"
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#1a1a1a"
			}
          ]
        }
  ],
  "presets" : [
    {
      "name"    : "Today Deals Section",
      "category": "03. Product"
    }
  ]
  }
{% endschema %}





{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
























